.main{
    height:100%;
    width:100%;
    padding:5vh 0vh;
    overflow: hidden;
}

.main>.head{
    padding:2vh;
}

.head>.logo{
    font-weight: 900;
    font-size:20px;
    color:var(--secondary);
}

.main>.formContainer{
    padding:2vh;
    width:50vw;
    margin-left:25vw;
    box-shadow: 0px 0px 20px var(--shadow);
    background: var(--secondary);
    border-radius:30px;
}

.main>.formContainer>.title{
    padding:2vh;
    color: var(--primary);
    font-weight: bolder;
}

/* .main>.formContainer>.formDiv{
    height:80%;
    width:80%;
    margin-left:10%;
    margin-top:2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.controlGroup{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom:10px;
}

.control>input:-webkit-autofill {
    -webkit-text-fill-color: var(--primary);
}

input:-internal-autofill-selected{
    background-color:none;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.control {
    width:50%;
    display: flex;
    background: var(--secondary);
    padding:5px 15px;
    color: var(--primary);
    border-radius:50px;
    box-shadow:0px 0px 5px var(--shadow);
    /* margin:10px; */
}

.control>fa-icon{
    margin-right:10px;
    width:6%;
    font-size:16px;
}

.control>input{
    width:94%;
    border:none;
    outline:none;
    font-size:14px;
    font-weight: bolder;
    color: var(--primary);
    background-color: var(--secondary);
}

.control>input::placeholder{
    font-size:14px;
}

.controlBtn{
    background: var(--primary);
    font-size:14px;
    width:150px;
    margin:30px;
    margin-bottom:0px;
    padding:8px 30px;
    border-radius:50px;
    box-shadow:0px 0px 5px var(--shadow);
    transition: all 0.1s;
    font-weight: bolder;
    color: var(--secondary);
}

.controlBtn>fa-icon{
    margin-left:20px;
    animation-name: controlBtnAnim;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

.controlBtn:active{
    transform: scale(1.15);
    box-shadow:0px 0px 5px var(--shadow);
}

.note{
    text-align: center;
    margin-top:30px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
    color: var(--primary);
}

/* Validation CSS  */

.errorBorder{
    border:2px solid red;
}

.errorText{
    color:red;
    font-weight: 700;
}

/* Animation */

@keyframes controlBtnAnim {
    0%{
        margin-left:10px;
    }
    50%{
        margin-left:20px;
    }
    100%{
        margin-left:10px;
    }
}

@media only screen and (max-width:900px) {
    .control {
        width:80%;
    }

    .controlBtn{
        width:50%;
    }
}

@media only screen and (max-width:700px){
    .main>.formContainer{
        width:80vw;
        margin-left:7vw;
    }
}

@media only screen and (max-width:700px){
    .main>.formContainer>.title{
        font-size:14px;
    }
    .controlGroup{
        margin-bottom:15px;
    }
    .control>input,.control>input::placeholder,.controlBtn{
        font-size:12px;
    }

    .controlBtn{
        margin:20px
    }

    .control>fa-icon{
        font-size:12px;
    }

    .note{
        margin-top:20px;
        font-size:14px;
    }
}