<div class="main">
    <div class="head">

        <div class="logo">
            <span>Sweet Art <fa-icon [icon]="faHandHoldingHeart"></fa-icon></span>
        </div>

        <div class="menus">
            
            <div class="menu-active">
                <span>Home</span>
            </div>
            <div class="menu">
                <span>Shop</span>
            </div>
            <div class="menu">
                <span>Category</span>
            </div>
            <div class="menu">
                <span>Feed</span>
            </div>
            <div class="menu">
                <span>About</span>
            </div>

            <div class="icons">
                <div class="icon">
                    <fa-icon [icon]="faCircleUser"></fa-icon>
                </div>
                <div class="icon">
                    <fa-icon [icon]="faCartShopping"></fa-icon>
                </div>
                <div class="icon">
                    <fa-icon [icon]="faArrowRightToBracket"></fa-icon>
                </div>
                <div class="icon">
                    <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                </div>
            </div>

        </div>
        
    </div>
</div>