.main>.head{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
}

.main>.head>.logo{
    font-weight: 900;
    font-size:18px;
    padding-left:10px;
    color:var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main>.head>.logo>.humburger{
    display:none;
}

.main>.head>.logo>.logoText{
    margin-left:20px;
}

.main>.head>.backSide{
    display:none;
}

.main>.head>.menuContainer,.main>.head>.menuContainer>.menus{
    display:flex;
    justify-content: center;
    align-items: center;
}

.main>.head>.menuContainer>.menus{
    padding:5px;
    font-size:16px;
}

.menus>.menu,.menu-active{
    width:80px;
    background: var(--secondary);
    text-align: center;
    padding:2px 10px;
    margin:8px;
    cursor: pointer;
    border-radius:50px;
    box-shadow:0px 0px 5px var(--shadow);
    transition: all 0.1s;
    color:var(--primary);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus>.menu:active,.menu-active:active{
    transform: scale(1.2);
}

.menu-active{
    background: var(--primary);
    color: var(--secondary);
    border:2px solid;
}

.icons{
    display:flex;
    justify-content:center;
    margin-left:30px;
}
.icons>.icon{
    text-align: center;
    font-size:24px;
    color:var(--secondary);
    margin-right:20px;
    cursor: pointer;
    transition: all 0.3s;
    transition: all 0.1s;
}

.icons>.icon:active{
    transform: scale(1.2);
}

.icon>fa-icon{
    /* filter:drop-shadow(0px 0px 2px var(--shadow)); */
    z-index:-1;
}

.main>.head>.logo>.menuToggleBtn{
    display:contents;
    font-size:20px;
    margin-right:50px;
}


@media only screen and (max-width:1025px) {
    .main>.head{
        font-size:12px;
    }
}

@media only screen and (max-width:1000px){

    .main>.head{
        position: relative;
        margin-top:10px;
    }

    .main>.head>.logo>.humburger{
        display:contents;
    }

    .main>.head>.backSide{
        display: block;
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background: black;
        opacity:0.8;
    }
    
    .main>.head>.menuContainer{
        position: fixed;
        left:0;
        top:0;
        background-color: var(--whiteShadow);
        display: block;
        width:60%;
        padding:1vh;
        height:100vh;
        text-align: left;
        box-shadow:0px 0px 15px var(--shadow);
        transform: translateX(-100%);
        transition:all 0.2s;
    }

    .main>.head>.openMenu{
        transform: translateX(0%);
    }

    .main>.head>.menuContainer>.menus{
        margin:10px;
        margin-top:80px;
        display: block;
    }

    .menus>.menu{
        width:40%;
    }

    .main>.head>.menuContainer>.menus>.menu,.main>.head>.menuContainer>.menus>.menu-active{
        border:none;
        position: relative;
        margin-left:0px;
        transition: all 0.2s;
    }

    .main>.head>.menuContainer>.menus>.menu-active{
        width:70%;
    }

    .menus>.menu:hover,.menus>.menu-active:hover,
    .menus>.menu:active,.menus>.menu-active:active{
        transform: scale(1);
        width:70%;
    }

    .icons{
        position: absolute;
        top:20px;
        width:95%;
        display:flex;
        justify-content:space-around;
        margin-left:0px;
        padding:1%;
        text-align: center;
    }

    .icons>.icon{
        color:var(--secondary);
        width:24%;
        padding:0.5%;
        font-size:20px;
        background:var(--primary);
        border-radius:50px;
        transition: all 0.2s;
        width:100%;
        margin:10px;
    }

    .icons>.icon:active{
        transform: scale(1.2);
    }
}

@media only screen and (max-width:600px) {
    .main>.head>.logo{
        font-size:16px;
    }

    .main>.head>.menuContainer{
        width:70%;
    }

    .icons>.icon{
        font-size:16px;
    }

    .main>.head>.menuContainer>.menus{
        margin-top:70px;
    }

    .menus>.menu{
        width:60%;
        font-size:14px;
    }

    .main>.head>.menuContainer>.menus>.menu-active{
        width:92%;
        font-size:14px;
    }

    .menus>.menu:hover,.menus>.menu-active:hover,
    .menus>.menu:active,.menus>.menu-active:active{
        width:92%;
    }
}