.main>.head{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
}

.main>.head>.logo{
    font-weight: 900;
    font-size:20px;
    padding-left:10px;
    color:var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main>.head>.menus{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.main>.head>.menus>.menu,.menu-active{
    width:80px;
    background: var(--secondary);
    text-align: center;
    padding:2px 10px;
    margin:8px;
    cursor: pointer;
    border-radius:50px;
    box-shadow:0px 0px 5px var(--shadow);
    transition: all 0.1s;
    color:var(--primary);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main>.head>.menus>.menu:active,.menu-active:active{
    transform: scale(1.1);
}
.menu-active{
    background: var(--primary);
    color: var(--secondary);
    border:2px solid;
}

.icons{
    display:flex;
    justify-content:center;
    margin-left:30px;
}
.icons>.icon{
    text-align: center;
    font-size:26px;
    color:var(--secondary);
    margin-right:20px;
    cursor: pointer;
    transition: all 0.3s;
    filter:drop-shadow(0px 0px 2px var(--shadow));
    transition: all 0.1s;
}

.icons>.icon:active{
    transform: scale(1.2);
}