<div *ngIf="type == 'banner'">
    <ngx-tiny-slider [config]="tinySliderConfigLazy" #sliderLazy>
        <ng-container class="items">
           <div *ngFor="let banner of listOfData;index as i" class="banner">
            <div class="item">
                <div class="slide">
                    <img [src]="banner" (load)="onImgLoadSuccess()" [style.width]="width">
                </div>
            </div>
           </div>
        </ng-container>
        <button id="button"></button>
    </ngx-tiny-slider>
</div>

<div *ngIf="type == 'product'">
    <ngx-tiny-slider [config]="tinySliderConfigLazy" #sliderLazy>
        <ng-container class="items">
           <div *ngFor="let banner of listOfData;index as i" class="banner">
            <div class="item">
                <div class="slide">
                    <img [src]="banner.imgSrc" (load)="onImgLoadSuccess()" [style.width]="width">
                </div>
            </div>
           </div>
        </ng-container>
        <button id="button"></button>
    </ngx-tiny-slider>
</div>

<div *ngIf="type == 'category'">
    <ngx-tiny-slider [config]="tinySliderConfigLazy" #sliderLazy>
        <ng-container class="items">
           <div *ngFor="let banner of listOfData;index as i" class="banner">
            <div class="item">
                <div class="slide">
                    <img [src]="banner" (load)="onImgLoadSuccess()" [style.width]="width">
                </div>
            </div>
           </div>
        </ng-container>
        <button id="button"></button>
    </ngx-tiny-slider>
</div>