.component{
    display: flex;
}
.component>.item{
    padding:2vh;
}
.component>.item>.slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.component>.item>.slide>img{
    width:60vw;
    box-shadow: 0px 0px 10px;
    border-radius:30px;
}

@media screen and (max-width: 900px) {
    .component>.item>.slide>img{
        width:90vw;
    }
}