<div class="main">
   <div class="address">
        <div class="title">Address :</div>
        <div class="detail">
            Fall address upto path of your address.
        </div>
        <div class="detail">
            Fall address upto path of your address.
        </div>
        <div class="detail">
            Fall address upto path of your address.
        </div>
   </div>

   <div class="social">
    <div class="title">Social :</div>
    <fa-icon [icon]="faFacebookSquare"></fa-icon>
    <fa-icon [icon]="faInstagramSquare"></fa-icon>
    <fa-icon [icon]="faLinkedinIn"></fa-icon>
   </div>

   <div class="contact">
       <div class="title">Mobile Number : </div>
       <div> 7414959859</div>
       <div class="title">Email ID : </div>
       <div>nil.dev@outlook.com</div>
   </div>

</div>
<div class="foot">
    developed by nil rajpurohit | nil.dev@outlook.com
</div>