/* You can add global styles to this file, and also import other style files */

:root{
    --primary:#FE2D6C;
    --secondary:white;
    --shadow:#0000008a;
}

*{
    padding:0px;
    margin:0px;
    font-family: Segoe Print;
}

body{
    background: var(--primary);
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* TNS CONTROLS */
.tns-outer{
    position: relative;
}

.tns-nav{
    position: absolute;
    bottom:0;
    margin-bottom:-10px;
    width:100%;
    text-align: center;
}
.tns-nav>button{
    padding:5px;
    margin:0px 3px;
    border-radius:50px;
    border:none;
}
.tns-nav-active{
    box-shadow:0px 0px 2px;
    background-color:var(--primary);
}