/* You can add global styles to this file, and also import other style files */

:root{
    --primary:#FE2D6C;
    --secondary:white;
    --shadow:#0000008a;
    --whiteShadow:rgba(255, 255, 255, 0.726);
}

*{
    padding:0px;
    margin:0px;
    font-family: Segoe Print;
}

body{
    background: var(--primary);
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* TNS CONTROLS */
.tns-outer{
    z-index:1;
    position: relative;
}

.tns-nav{
    position: absolute;
    bottom:0;
    margin-bottom:-10px;
    width:100%;
    text-align: center;
}
.tns-nav>button{
    padding:5px;
    margin:0px 3px;
    border-radius:50px;
    border:none;
}
.tns-nav-active{
    box-shadow:0px 0px 2px;
    background-color:var(--primary);
}

.tns-controls>button{
    background-color:var(--primary);
    color: var(--secondary);
    outline:none;
    border:none;
    font-size:24px;
    padding:0px 15px;
    border-radius:30px;
    box-shadow:0px 0px 10px var(--shadow);
}

.tns-controls>button:nth-child(1){
    position: absolute;
    top:40%;
    left:1%;
}

.tns-controls>button:nth-child(2){
    position: absolute;
    top:40%;
    right:1%;
}