.alertContainer{
    display:flex;
    justify-content: center;
    z-index:1;
}
.backSide{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: var(--shadow);
}

.alertBox{
    position: absolute;
    top:30px;
    width:80%;
    padding:20px;
    border-radius:20px;
    box-shadow:0px 0px 20px var(--shadow);
}

.closeBtn{
    position: absolute;
    right:50px;
    font-size:20px;
    text-align: right;
}

.closeBtn:hover,.closeBtn:active{
    transform:scale(1.5);
}

.message{
    text-align: center;
    font-size:18px;
    font-weight:700;
}