.alertContainer{
    display:flex;
    justify-content: center;
    z-index:1;
}
.backSide{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: var(--shadow);
}

.alertBox{
    position: absolute;
    top:30px;
    width:80%;
    padding:20px;
    border-radius:20px;
    box-shadow:0px 0px 20px var(--shadow);
    animation:dropdown 0.25s ease-out;
}

@keyframes dropdown {
    0%{
        transform: translateY(-120%);
    }

    100%{
        transform: translateY(0%);
    }
}

.closeBtn{
    position: absolute;
    right:50px;
    font-size:20px;
    text-align: right;
}

.closeBtn:hover{
    filter: drop-shadow(0px 0px 2px var(--shadow));
}

.message{
    text-align: center;
    font-size:18px;
    font-weight:700;
}